/* TODO: style the html */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

ul li {
    list-style: none;
}


.check {
    color: #2fcc71;
    font-size: 25px;

}

.star {
    color: coral;
    font-size: 25px;
}

.contact {
    color: #3498da;
    font-size: 25px;
}