body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.container {
    display: flex;
    gap: 15px;
}

.container img {
    transition: width 300ms;
    height: 300px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
    
}


.container img:hover {

    width: 400px;
}