@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");



.icons {
    display: inline-block;
    padding: 10px;
}

.icon__link {
    color: black;
    font-size: 22px;
    text-decoration: none;
    background-color: #eeeeeb;
    border-radius: 50%;
    padding: 10px;

}

.face:hover {
    color: #3758a9;
}

.tw:hover {
    color: #0099fd;
}

.google:hover {
    color: #ff4719;
}

.linked:hover {
    color: #0074c8;
}

.insta:hover {
    color: #447fac;
}